.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

body {
  margin: 0;
  padding: 0;
}

.TitleSection {
  background-color: #4aa4cd;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #29627b;
  font-size: 18px;
  padding-left: 15px;
}

.TitleSection button {
  width: 180px;
  height: 60px;
  margin: 20px;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  padding-left: 15px; 
  background-color: #29627b;
  color: whitesmoke;
}

.TitleSection button:hover {
  cursor: pointer;
}

.DisplaySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #839494;
}

.DisplaySection h4, h3 {
  margin: 5px;
}

.DisplaySection img {
  width: 250px;
  margin: 5px;
}